body{
  background-color: #f0f0f0;
  font-family: Helvetica, arial, sans-serif;
}

#search {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 6px 20px #888888;
  box-sizing: border-box;
  margin: auto;
  margin-top: 50px;
  width: 26%;
  padding: 20px;
}

input {
  padding: 5px;
  border-radius: 3px;
}

input[type='text'] {
  width: 200px;
}

button {
  float: right;
  background-color: #f9f9f9;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

li{
  margin-left: -30px;
  margin-right: 20px;
  list-style-type: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

li hr {
  margin-left: -10px;
  width: 111%;
}

span {
  font-weight: lighter;
  float: right;
}

#profile img {
  height: 100px;
  margin-top: 20px;
  border-radius: 3px;
}

#profile hr {
  margin-top: -10px;
  height: 2px;
  background-color: grey;
}

p {
  margin-right: 30px;
  margin-top: 20px;
  width: 50%;
  float: right;
  font-size: 10px;
}

p:nth-child(4){
  margin-top: -20px;
  font-size: 12px
}

h2 {
  margin-right: 85px;
  margin-top: -85px;
  width: 30%;
  float: right;
}

#message {
  background-color: #fedcdd;
  border-radius: 5px;
  border: 1px solid #dfafb0;
  margin-top: 15px;
  padding: 15px;
  color: #9e0000;
  font-size: 12px;
}
